body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexiable {
    display: flex;
    margin-bottom: 150px;
}

h1 {
    font-size: 60px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
    height: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

footer p {
    text-align: center;
}

.full-stack {
    border-left: 10px solid blue;
    box-shadow: 15px 15px 10px black;
    margin-right: 2%;
    margin-left: 5%;
}

.baby {
    border-left: 10px solid red;
    box-shadow: 15px 15px 10px black;
    margin-right: 2%;
    margin-left: 5%;
}

.Experiences {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
}